.div_card{
    width: 500px;
    height: fit-content;
    background-color: rgb(5, 49, 75);
    border-radius: 25px;
    border: solid 5px #020202;
    margin: 20px; 
  }
  .div_circulo{
    width: 100px;
    height: 100px;
    background-color: rgb(1, 171, 194);
    border-radius: 50px ;
  }
  .h1_texto{
    Font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 30px;
  }
  #h1_verde{
    font-family: 'Times New Roman', Times, serif;
  }
